@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CustomHelvetica';
    src: url('/fonts/Helvetica.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('/fonts/MyriadPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Qestero';
    src: url('../fonts/qestero.otf') format('opentype'),
         url('../fonts/qestero.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.qesterotest {
    font-family: 'Qestero';
}

.helvetica {
    font-family: 'CustomHelvetica';
}

.myriadpro {
    font-family: 'MyriadPro';
}

#mobile-menu {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}

#mobile-menu.active {
    transform: translateY(0);
}

.nine-bg {
    background-color: #758BA2;
    background-image: url('../img/nineBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}