@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

@utility container{
  padding-inline: 0rem;
  margin-inline: auto;
}

@layer base {
  h1 {
    @apply text-h1 font-semibold text-black leading-20;
  }
  h2 {
    @apply text-h2 font-semibold text-black leading-20;
  }
  .hero-block{
    height: 880px;
    background-size: 171%;
  }
  .our-solutions__inner{
    min-height: 810px;
    max-height: 1000px;
    height: max-content;
  }
  .our-solutions-set{
    min-height: 810px;
    max-height: 1000px;
    height: max-content;
  }
  .slider_2 .slick-list{
    order: 1;
    z-index: 10;
  }
  .our-solutions__inner div nav .btn-slick-dots{
    border: 1px #000;
    border-left-style: solid;
    transition: 0.5s;
  }
  .our-solutions__inner div nav .custom-dots_active{
    border: 3px #000;
    border-left-style: solid;
    font-weight: 900;
    transition: 0.5s;
  }
  .join-team_list {
    list-style-image: url(../assets/img/icons/Bullet.svg);
  }

}

