.upper-backrounn__inner_comments{
  width: 100%;
  height: max-content;
  background-color: #000000;
  background-image: url(../../img/img-page_portfolio/upper_backgroud22.jpg);
  background-size: 100% contain ;
  background-repeat: no-repeat;
  background-position: center -500px ;
}

.portfolio-for-slider_img_1{
  height: 400px;
  background-image: url(../../img/img-page_portfolio/for-slider/img_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portfolio-for-slider_img_2{
  height: 400px;
  background-image: url(../../img/img-page_portfolio/for-slider/img_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portfolio-for-slider_img_3{
  height: 300px;
  background-image: url(../../img/img-page_portfolio/for-slider/img_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portfolio-for-slider_img_4{
  height: 300px;
  background-image: url(../../img/img-page_portfolio/for-slider/img_4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.portfolio-for-slider_img_5{
  height: 300px;
  background-image: url(../../img/img-page_portfolio/for-slider/img_5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width:576px) {
  .portfolio-for-slider_img_1{
    height: 200px;
  }
  .portfolio-for-slider_img_2{
    height: 200px;
  }
  .portfolio-for-slider_img_3{
    height: 200px;
  }
  .portfolio-for-slider_img_4{
    height: 200px;
  }
  .portfolio-for-slider_img_5{
    height: 200px;
  }
}


.slider_completed_works_img-1{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../img/img-page_services/photo-for-slider/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider_customer-reviews_overlay-1{
  opacity: 1;
}
.slider_customer-reviews_overlay{
  opacity: 0;
  background-color: rgba(0,0,0, 0.0);
  transition: opacity 0.3s;
}
.completed_works__item:hover .slider_customer-reviews_overlay{
  opacity: 1;
  display: block;
  background-color: rgba(0,0,0, 0.70);
  transition: opacity 0.3s;
}

.slider_card_item{
  min-width: 280px;
}
.completed-portfolio_preview{
  display: grid;
  grid-template-areas:
        "dots"
        "slider"
        ;
}
.slick-list{
  grid-area: slider;
}
.slick-dots{
  grid-area: dots;
}
.item-dots {
  color: #000;
}
.item-dots:hover {
  color:#FF3300;
  text-decoration: underline;
}
.card_header{
  max-width: 380px;
  min-height: 0;
}




