
@font-face {
  font-family: 'involve-regular';
  src: url(./../fonts/involve/Involve-Regular.ttf);
}
@font-face {
  font-family: 'involve-medium';
  src: url(./../fonts/involve/Involve-Medium.ttf);
}
@font-face {
  font-family: 'involve-semibold';
  src: url(./../fonts/involve/Involve-SemiBold.ttf);
}
.involve-regular{font-family: 'involve-regular';}
.involve-medium{font-family: 'involve-medium';}
.involve-semibold{font-family: 'involve-semibold';}
.text-gray{
  color:  #262626 !important;
}
body{
  font-family: 'involve-regular';
  margin: 0;
  padding: 0;
}
a{
  color: #000000;
  text-decoration: none;
}
p{
  margin: 0;
}
button{
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #000000;
  user-select: none;
}
header{
  transition: margin-top 0.3s;
}
footer{
  background-color: #0C0C0C;
}
.w-max{
  width: max-content;
}
.h-max{
  height: max-content;
}
.bg-red{
  background-color: #CA110F;
}
.bg-gray{
  background-color: #F0F0F0;
}
.bg-black-0\.5{
  background-color: #0C0C0C;
}
.bg-white-0\.5{
  background-color: #1A1A1A;
}

.border-gray{
  border: 1px;
  border-right-style: solid;
  border-color:  #262626 !important;
}
@media (max-width:1024px) {
  .border-gray{
    border: 0px;
    border-right-style: solid;
    border-color:  #262626 !important;
  }
}
.border-white-25{
  border: 1px !important;
  border-style: solid !important; 
  border-color: #1F1F1F !important;
}
.text-red{
  color: #CA110F;
}
.fs-7{
  font-size: 0.85rem;
}
.fs-0\.5{
  font-size: 3rem;
}
.fs-0\.1{
  font-size: 3.75rem;
}
@media (max-width:767px) {
  .fs-md-0\.1{
    font-size: 2.2rem !important;
  }
}
@media (max-width:425px) {
  .fs-sm-6{
    font-size: 0.85rem !important;
  }
}
.slick-prev{
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;

  width: 40px !important;
  height: 40px !important;
  -webkit-transform: translateX(250px) !important;
  -ms-transform: translateX(250px) !important;
  transform: translateX(250px) !important;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  z-index: 99;
  background-color: #CA110F !important;

}
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 40px !important;
  height: 40px !important;
  -webkit-transform: translateX(-250px) !important;
  -ms-transform: translateX(-250px) !important;
  transform: translateX(-250px) !important;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  z-index: 99;
  background-color: #CA110F !important;
}
@media (max-width:991px) {
  .slick-prev{
    -webkit-transform: translateX(120px) !important;
    -ms-transform: translateX(120px) !important;
    transform: translateX(120px) !important;
  }
  .slick-next {
    -webkit-transform: translateX(-120px) !important;
    -ms-transform: translateX(-120px) !important;
    transform: translateX(-120px) !important;
  }
}
@media (max-width:768px) {
  .slick-prev{
    -webkit-transform: translateX(50px) !important;
    -ms-transform: translateX(50px) !important;
    transform: translateX(50px) !important;
  }
  .slick-next {
    -webkit-transform: translateX(-50px) !important;
    -ms-transform: translateX(-50px) !important;
    transform: translateX(-50px) !important;
  }
}
.slick-list{
  z-index: 98;
}
.slick-dots{
  margin-bottom: 40px !important;
  z-index: 99;
}
.slick-dots li{
  width: 8px !important;
  height: 8px !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  background: #fff;
  border-radius: 999px;
  transition: 0.3s;
}
.slick-dots li.slick-active{
  background: red;
  transition: 0.3s;
}
.slick-slider-portfolio{
  overflow: hidden;
}
.slick-slider-portfolio .slick-prev{
  position: absolute;
  top: 0;
  left: -39%;
  width: 25% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
.slick-slider-portfolio .slick-next{
  position: absolute;
  top: 0;
  right: -39%;
  width: 25% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
@media (max-width:1024px) {
  .slick-slider-portfolio .slick-prev{
    left: -60%;
    width: 30% !important;
  }
  .slick-slider-portfolio .slick-next{
    right: -60%;
    width: 30% !important;
  }
}
@media (max-width:768px) {
  .slick-slider-portfolio .slick-prev{
    display: none;
  }
  .slick-slider-portfolio .slick-next{
    display: none;
  }
}
.slick-slider-portfolio .slick-prev::before{
  display: none;
}
.slick-slider-portfolio .slick-next::before{
  display: none;
}

.img_portfolio img{
  width: 100%;
  height: max-content;
  object-fit: cover;
}
@media (max-width:1200px) {
  .img_portfolio img{
    height: 300px;
  }
}

.text-other{
  font-size: 3rem;
}
.photo-img_1{
  object-fit: cover;
  object-position: top;
  height: 300px;
}
.accordion-button::after{
  display: none;
}
.accordion-button:focus{
  box-shadow: none;
}
.accordion-button:not(.collapsed){
  background-color: transparent;
  color: #000000;
}
.accordion-button img{
  transform: rotateZ(180deg);
  transition: transform 0.3s;
}
.accordion-button.collapsed img{
  transform: rotateZ(0deg);
  transition: transform 0.3s;
}

.accordion-button.why img{
  transform: rotateZ(0deg);
  transition: transform 0.3s;
}
.accordion-button.why.collapsed img{
  transform: rotateZ(-30deg);
  transition: transform 0.3s;
}
.portfolio_item-btn.active{
  background-color: transparent;
  transition: background-color 0.3s;
}
.portfolio_item-btn.active{
  background-color: #CA110F;
  transition: background-color 0.3s;
}
.portfolio_item-btn:focus{
  background-color: #CA110F;
  transition: background-color 0.3s;
}
.portfolio_item-btn:hover{
  background-color: #CA110F;
  transition: background-color 0.3s;
}

.img_1{
  width: 100%;
  height: 600px;
  margin-left: 0px;
}

.stages_work-md{
  width: 100%;
}
.stages_work-md__inner{

}
.stages_work-md .item:nth-last-child(1){
  margin-right: 150px;
}

@media (max-width:1399px) {
  .text-other{
    font-size: 2.5rem;
  }
}
@media (max-width:1199px) {
  .text-other{
    font-size: 1.8rem;
  }
}
@media (max-width:991px) {
  .img_1{
    width: 500px;
    height: 600px;
    margin-left: -160px;
  }
  .text-other{
    font-size: 1.6rem;
  }
}
@media (max-width:767px) {
    .img_1{
    width: 200px;
    height: 600px;
    margin-left: -160px;
  }
  .text-other{
    font-size: 1.6rem;
  }
  .photo-img_1{
    height: 300px;
  }
}
@media (max-width:425px) {

  .text-other{
    font-size: 1.3rem;
  }
  .photo-img_1{
    height: 230px;
  }
}

.scrolled {
  height: max-content;
  margin-top: -10px;
  background-color: #161616;
  transition: 0.3s;
}
.inner_header-nav a{
  color: #fff;
  transition: color 0.3s;
}
.inner_header-nav a:hover{
  color: #CA110F;
  transition: color 0.3s;
}
.inner_header .logo{
  width: 170px;
  transition: 0.3s;
}
.scrolled .inner_header .logo {
  width: 100px;
  transition: 0.3s;
}
@media (max-width:768px) {
  .scrolled {
    margin-top: 0px;
  }
  .inner_header .logo{
    width: 85px;
    transition: 0.3s;
  }
  .scrolled .inner_header .logo {
    width: 85px;
    transition: 0.3s;
  }
}
.bg-block1{
  width: 100%;
  height: 100dvh;
  background-image: url(./../img/photo/background/bg-block1.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-block2{
  width: 100%;
  height: 1080px;
  background-image: url(./../img/photo/background/bg-block2.jpg);
  background-position: bottom center ;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-block3{
  width: 100%;
  height: max-content;
  background-image: url(./../img/photo/background/bg-block3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-block4{
  width: 100%;
  max-width: 1720px;
  margin: auto;
  height: 720px;
  background-image: url(./../img/photo/background/bg-block4.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}


@media (max-width:991px) {
  .bg-block4{
    width: 100%;
    max-width: none;
    margin: auto;
    height: max-content;
    background-image: none;
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
@media (max-width:768px) {
  .bg-block2{
    width: 100%;
    height: max-content;
    background-image: url(./../img/photo/background/bg-block2.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg-block4{
    width: 100%;
    height: max-content;
    background-image: none;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}


.box-line{
  width: 100% !important;
  height: 2px;
  display: flex !important;
  justify-content: space-between;
  background: #BBBBBB;
  margin-bottom: 30px;
}
.box-line-vertical{
  width: 2px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #BBBBBB;
}
.box-line span{
  color: #BBBBBB;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -7px;
}
.box-line span:nth-child(1){
  color: #BBBBBB;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: -5px;
}

.box-line span:nth-child(5){
  color: #BBBBBB;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: -5px;
}
.box-line  span .point{
  width: 15px;
  min-height: 15px;
  border: 2.5px solid #BBBBBB;
  background-color: #fff;
  border-radius: 999px;
}
.box-line span .number{
  margin-top: 30px;
  font-size: 1.56rem;
}

.box-line span.active .point {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2.5px solid #CA110F;
  background-color: #CA110F;
}
.box-line span.active .number{
  color: #CA110F;
}


.box-line-vertical span{
  max-height: 7px;
  color: #BBBBBB;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-line-vertical span .point{
  width: 15px;
  min-height: 15px;
  border: 2.5px solid #BBBBBB;
  background-color: #fff;
  border-radius: 999px;
}
.box-line-vertical span.active .point {
  
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2.5px solid #CA110F;
  background-color: #CA110F;
}
.box-line-vertical span .number{
  margin-top: -30px;
  margin-left: 100px;
  font-size: 1.56rem;
}
.box-line-vertical span.active .number{
  color: #CA110F;
}
.box-line-vertical span:nth-child(1){
  color: #BBBBBB;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-line-vertical span:nth-child(1) .number{
  position: relative;
  left: 0px;
}
.box-line-vertical span:nth-child(5){
  color: #BBBBBB;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-line-vertical span:nth-child(5) .number{
  position: relative;
  left: 0px;
}
@media (max-width:575px) {
  .box-line-vertical span .number{
    font-size: 1rem;
    margin-top: -20px;
    margin-left: 70px;
  }
}
@media (max-width:425px) {
  .box-line span .number{
    margin-top: 10px;
    font-size: 1rem;
  }

}